* {
    padding: 0;
    margin: 0;
    background-color: rgb(223, 205, 193);
    text-decoration: none;
    /* color: white; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    font-style: normal;
    font-size: large; 
} 

.menu {
    padding: 0 50px; 
    display: flex;
    justify-content: flex-end;
}

.menu_item {
    padding: 0 50px; 
    color: white;
}

.logo {
    padding: 0 90px;
    color: black;
}

.logo:focus {
    color: rgb(22, 167, 22);
    border-bottom:1px solid rgb(30, 185, 30);
}

.menu_item:hover {
    color: gold;
    border-bottom: 1px solid gold;
   
}

.main_container {
    margin: 30px 0;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
       
.text_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .text_centr {
    color: white;
} */

.text_centr_h1 {
    padding: 5px 0;
    color: whitesmoke;
}
.text_centr_h2 {
    color: rgb(81, 40, 21);
}


.text_slogan {
    position: absolute;
    bottom: 90px;
    right: 320px;
    color:white;
    text-shadow: 5px;
}
.main_btn {
    margin: 40px 0;
    padding: 5px 20px;
    width: 200px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 100;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid rgb(72, 68, 68);
}

img {
    border-radius: 200px;   
}

.footer {
    width: auto;
    padding: 10px 0;
    font-size: 120px;
    position: absolute;
    top: 120px;
    right: 120px;
    display: flex;
    flex-direction: column;
    background-color: transparent;  
    color: whitesmoke; 
}


    









