* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    font-size: larger;
    color: black;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    align-items: center;
    padding: 30px 50px;
    
}

.menu {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* width:350px; */
}  

.logo {
    font-style: oblique;
    padding: 0 10px;
   
}

.menu_item {
    padding: 0 50px;

}

.menu_item:hover {
    color: brown;
    border-bottom: 1px solid brown;
   
}

.main_container {
    width: 100%;
    height: 500px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    
}
img {
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.main_text {
    width: 50%;
    
    
}








